<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>姓名案例_watch实现</title>
  <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
  <!-- 
    computed和watch之间的区别：
        I,computed能完成的功能，watch都可以完成。
        2.watch能完成的功能，computed不一定能完成，例如：watch可以进行异步操作。
    两个重要的小原则：
        1.所被Vue管理的函数，最好写成普通函数，这样this的指向才是vm或组件实例对象。
        2.所有不被Vue所管理的函数（定时器的回调函数、ajax的回调函数、Promise的回调函数等），最好写成箭头函数，
        这样this的指向才是vm或组件实例对象。
-->
  <div id="root">
    姓:<input v-model="firstName" /> <br />
    名:<input v-model="lastName" /> <br />
    全名：<span>{{fullName}}</span>
  </div>

  <script type="text/javascript">
    Vue.config.productionTip = false

    const vm = new Vue({
      el: '#root',
      data: {
        firstName: '张',
        lastName: '三',
        fullName: '',
      },
      computed: {},
      watch: {
        firstName(newValue, oldValue) {
          this.fullName = newValue + '-' + this.lastName
        },
        lastName(vafdsl) {
          setTimeout(() => {
            this.fullName = this.firstName + '-' + val
          }, 1000)
        },
      },
    })
    console.log(vm)
  </script>
</body>

</html>