<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>姓名案例_插值语法实现</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>

    <div id="root">
        姓:<input v-model="firstName"> <br />
        名:<input v-model="lastName"> <br />
        全名：{{fullName()}}
    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false


        new Vue({
            el: '#root',
            data: {
                firstName: '',
                lastName: '',
            },
            methods: {
                fullName() {
                    return this.firstName + this.lastName
                }
            }
        })
    </script>
</body>

</html>